<!DOCTYPE html>
<html>
<head>
  <title>Beerdays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./custom.css" />

  <link rel="icon" type="image/png" href="./beerdayzlogo.png" />

  <script>
    var CLIENT_ID="{{client_id}}";
    var PUSHER_CHANNEL="{{pusher_channel}}";
  </script>

</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Root" src="./beerdayzlogo.png">
        </a>
      </div>
      <p class="navbar-text"><b>Beerdayz</b> Admin Dashboard</p>
    </div>
  </nav>

  <div class="container"> <!-- main container -->
    <div class="row"> <!-- main row -->

      <!-- Admin Controls -->
      <div class="col-sm-7">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Users</h1>
          </div>
          <div class="panel-body">

            <table class="table">
              <thead>
                <tr>                  
                  <th class="col-md-2">Name</th>
                  <th class="col-md-2">Email</th>
                  <th class="col-md-6">User ID</th>
                  <th class="col-md-1">Status</th>
                </tr>
              </thead>
              <tbody id="users-table">
                <tr>
                  <td colspan="3">No users have signed in with this app yet</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div> <!-- end panel -->
      </div>

      <!-- User App Simulation -->
      <div class="col-sm-5 text-center">

        <!-- <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title">User App</h1>
          </div> -->

        <div id="iphone" class="iphone signed-out">
          <div class="screen">
            <div class="navigation-bar">
              <img class="bar-logo" src="beerdayzlogo.png"/> Beerdayz
            </div>
            <div class="content content-signed-out">
              <img src="./beerdayzlogo.png"/>              
              <h3>Beerdayz</h3>
              <p>
                Get stuff done. Then drink beer.
              </p>
              <span>sign in with</span><br/>
              <a class="btn btn-primary" href="{{oauth_url}}" role="button">                   
                  <img class="no-border" src="./root-logo.svg"/>
              </a>
            </div>

            <div class="content content-signed-in">              
              <p class="text" id="greeting">
                Hi there,
              </p>
              <p class="text" id="body-text">
                Beerdayz is an app which encourages teams to get things done.
                <br/><br/>
                Every week, the team wallet is reset. When you move a task 
                on your team's Trello board to <em>done</em>, your team builds up 
                funds to spend on some Friday fun.   
              </p>
              <p>
                <h2>Your current balance is</h2>
                <h2 id='balance'>R 0.00</h2>
              </p>
            </div>
          </div> <!-- end screen -->
        </div> <!-- end iphone -->

      </div>

    </div> <!-- end main row -->
  </div> <!-- end main container -->

  <!-- Load scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src="./manager.js"></script>
  <script src="./user-app.js"></script>
</body>
</html>
