body {
  background-color: #F0F4F7;
}

.navbar {
  background-color: #f99135;
  border-color: #f99135;
}

.btn-primary{
  color: black;
  background-color: white;  
}

.btn-add {
  border: none;
  color: white;
  background-color: green;
}

.btn-remove {
  border: none;
  color: white;
  background-color: red;
}

.no-border{
  margin: 0 !important;
}
.bar-logo{
  height: 32px !important;
  width: 32px !important;
  margin: 0 !important;
}
.navbar-brand>img {
  max-height: 34px;
  margin-top: -7px;
  border-radius: 5px;
}
.navbar-text {
  color: white !important;
  margin-left: 0;
}

.text{
  text-align: left;
}

.alertify-logs {
  z-index: 999999;
}

.iphone {
  height: 700px;
  width: 340px;
  display: inline-block;
  background-image: url('./iphone.png');
  background-size: contain;
  padding: 100px 19px 95px 25px;
}

.iphone .screen {
  border-radius: 3px;
  height: 100%;
  padding: 20px;
  background-color: white;
  color: #333;
  display: flex;
  align-items: center;
  position: relative;
}

.iphone .screen p {
  margin-bottom: 30px;
}

.iphone .screen img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.iphone .screen .navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #f99135;
  border-color: #f99135;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.iphone .screen .content {
  width: 100%;
}

/* Handle signed in state */
.iphone .content-signed-out {
  display: none;
}
.iphone.signed-out .screen {
  background-color: #f99135;
  color: white;
}
.iphone.signed-out .screen .navigation-bar {
  display: none;
}
.iphone.signed-out .content-signed-in {
  display: none;
}
.iphone.signed-out .content-signed-out {
  display: block;
}
